.save {
    width: 200px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center !important;
}

.finish-button {
	margin-top: 20px;
	width: 100%;
}

.save-button {
    width: 100%;
    margin-top: 20px;
}
