.six-questions{
	width:80%;
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
	.clear{
		clear:both;
	}
	.question-ten {
		width:100%;
		.questionTitle{
			margin-left: 45px;
			float: left;
			text-align: left;
			margin-bottom: 20px;

		}
		.talbe-list{
			width: 100%;
		}
	}
	.section-left{
		width:50%;
		margin-right: 5%;
		float:left;
		.question-five{
			border:1px solid #000;
			width: 100%;
			margin-top: 40px;
			padding:20px;
		}
	}
	.section-right{
		width:45%;
		float:left;
		.question-box{
			padding:20px;
			border:1px solid #000;
			width: 100%;
			margin-top: 40px;
			.drug-name{
				input{
					width: 300px;
				}
			}
		}
	}
}
