@import "./variables.scss";
@import "./Sections/SectionOne/SectionOne.scss";
@import "./Sections/SectionTwo/SectionTwo.scss";
@import "./Sections/SectionThree/SectionThree.scss";
@import "./Sections/SectionFour/SectionFour.scss";
@import "./Sections/SectionFive/SectionFive.scss";
@import "./Sections/SectionSix/SectionSix.scss";
@import "./Sections/SectionSeven/SectionSeven.scss";
@import "./Sections/SectionEight/SectionEight.scss";

html {
    body {
        min-width: 1360px;
        background-color: white;
    }
}

.medical-survey {
	padding: 10px;
}

label {
    font-weight: normal;
}

.clear-both {
    clear: both;
}
input[name=""]{
    border:1px solid #ff0000;
    &:before {
    	color: red;
    	position: relative;
    	margin-right: 10px;
    	content: "*";
    }
}
input[type="radio"]{
    border:1px solid #ff0000;
}
.block{
    clear: both;
    width: 100%;
    height: 80px;
}


